* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  max-width: 100vw;
  background-color: #090b1a;
  font-size: 15px;
}

main {
  width: 100%;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 100px 0;
}

article {
  width: 85%;
  max-width: 1100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

section {
  width: 100%;
}

.section_I {
  font-size: 1em;
  background-color: #1b1938;
  padding: 2% 0 5% 5%;
  border-radius: 15px 0 0 15px;
}

.section_I h1 {
  width: 80%;
  font-size: 2.4em;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  color: white;
  margin-top: 40px;
}

.section_I h1 span {
  color: #aa5cdb;
}

.section_I p {
  width: 75%;
  font-size: 1em;
  font-family: "Inter", sans-serif;
  color: rgba(255, 255, 255, 0.6);
  margin-top: 30px;
  line-height: 1.7;
}

.section_I .stats {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 60px;
  width: 70%;
}

.section_I .stats span {
  text-align: left;
}

.section_I .stats span h2 {
  font-family: "Inter", sans-serif;
  color: white;
  font-size: 1.5em;
  font-weight: 700;
  margin-left: 5px;
}

.section_I .stats span p {
  margin: 5px;
  font-family: "Lexend Deca", sans-serif;
  font-size: 0.9em;
}

.section_II {
  position: relative;
  border-radius: 0 15px 15px 0;
}

.section_II .desktop_image {
  display: block;
  border-radius: 0 15px 15px 0;
}

.section_II .mobile_image {
  display: none;
}

.section_II::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #9222d8;
  opacity: 0.4;
  border-radius: 0 15px 15px 0;
}

img {
  display: block;
  width: 100%;
  -webkit-filter: brightness(70%);
          filter: brightness(70%);
}

@media screen and (max-width: 1238px) {
  body {
    font-size: 13px;
  }
}

@media screen and (max-width: 1158px) {
  body {
    font-size: 12px;
  }
}

@media screen and (max-width: 1098px) {
  body {
    font-size: 11px;
  }
}

@media screen and (max-width: 1068px) {
  body {
    font-size: 15px;
  }
  article {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    max-width: 500px;
  }
  .section_I {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border-radius: 0 0 15px 15px;
    padding: 0 0 10px 0;
  }
  .section_I h1 {
    width: 80%;
    font-size: 1.8em;
    text-align: center;
  }
  .section_I p {
    width: 80%;
    text-align: center;
    margin-top: 20px;
    line-height: 1.5;
  }
  .section_I .stats {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 50px;
  }
  .section_I .stats span {
    text-align: center;
    margin-bottom: 20px;
  }
  .section_I .stats span h2 {
    margin: 0;
  }
  .section_II {
    border-radius: 15px 15px 0 0;
  }
  .section_II .desktop_image {
    display: none;
  }
  .section_II .mobile_image {
    display: block;
    border-radius: 15px 15px 0 0;
  }
  .section_II::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #9222d8;
    opacity: 0.4;
    border-radius: 15px 15px 0 0;
  }
}
